# 1. FOR LOOPS

In [ ]:
# For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).
# An action can be executed once for each item in a list, tuple of the for loop.
my_list=[2,3,4]
my_list

[2, 3, 4]

In [ ]:
for i in my_list:
  print(i)

2
3
4

In [ ]:
# you can do more than one task for every loop such as printing out 'Hello world' 
for i in my_list:
  print(i)
  print('heloo words')

2
heloo words
3
heloo words
4
heloo words

In [ ]:
# List of strings
my_strings=['Bunga','sarah','rizal','faqih']

In [ ]:
for i in my_strings:
  print(i)

Bunga
sarah
rizal
faqih

In [ ]:
# you can loop over a string as follows
for i in 'BUNGA':
  print(i)

B
U
N
G
A

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [ ]:
for i in 'TIDUR':
  if i=='T':
    print('*')
  else:
    print(i)

*
I
D
U
R

# 2. RANGE

In [ ]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 10) generates integers from 0 up to, but not including, 10.

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
# Range of numbers from 1 to 20 with steps of 2
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in reversed(range(5)):
  print(i)

4
3
2
1
0

**MINI CHALLENGE #2:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [ ]:
awal=int(input('nilai awal:'))
akhir=int(input('nilai akhir:'))
for i in range(awal,akhir):
  if i%2==0:
    print(i)

nilai awal:1
nilai akhir:40
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

**MINI CHALLENGE #3:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [ ]:
for i in range(1,11):
  print('{} {} {}'.format(i,i*i,i*i*i))

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

# 3. WHILE LOOPS

In [ ]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.
i=0

while i<=15:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

**MINI CHALLENGE #4:**
- **Write a code that displays numbers from 1 to 30 using for and while loops**

In [ ]:
i=1

while i<=30:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

**MINI CHALLENGE #5:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

In [ ]:
rolling_dice='y'

while rolling_dice=='y':
  print('Rolling dice, Please wait')
  print('Rolling result for dice 1 ',randint(1,6))
  print('Rolling result for dice 2 ',randint(1,6))
  rolling_dice=input('do ypu want to roll again?')

Rolling dice, Please wait
Rolling result for dice 1  1
Rolling result for dice 2  5
do ypu want to roll again?y
Rolling dice, Please wait
Rolling result for dice 1  4
Rolling result for dice 2  1
do ypu want to roll again?y
Rolling dice, Please wait
Rolling result for dice 1  4
Rolling result for dice 2  2
do ypu want to roll again?n

In [ ]:
from random import randint

for i in range(10):
  print(randint(1,6))

5
5
1
6
1
5
3
5
5
2

# 4. BREAK A LOOP

In [ ]:
# break() is used to exit a for loop or a while loop
# continue() is used to skip the current block, and return to the "for" or "while" statement.

In [ ]:
my_list=['goog','appl','t','tsla','sp500']
my_list

['goog', 'appl', 't', 'tsla', 'sp500']

In [ ]:
# print out all elements in the list
for i in my_list:
  print(i)

goog
appl
t
tsla
sp500

In [ ]:
# print out all elements in the list up until the AT&T stock (Ticker Symbol = T) is detected
for i in my_list:
   print(i)
   if i=='t':
      break

goog
appl
t

In [ ]:
# Print only odd elements and skip even numbers
for i in range(1,10):
  if i%2!=0:
    print(i)

1
3
5
7
9

In [ ]:
# Print only odd elements and skip even numbers
for i in range(1,10):
  if i%2==0:
    continue #jika ketemu angka genap lanjut aja, kalo ganjil print
  print(i)

1
3
5
7
9

**MINI CHALLENGE #6:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

In [ ]:
get=int(input('masukan nilai:')

avg=0
n=0
while get!='e':
  avg=avg+get

# 5. NESTED LOOPS

In [ ]:
# Nested loops are loops that exist inside the body of another loop
for x in range(1,3): # outer loop
  for y in range(1,11): #inner outer
    print('{} * {} = {}'.format(x,y,x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

**MINI CHALLENGE #7:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

In [ ]:
print("Keep entering numbers and I will display the average to you!")
avg = 0
n = 0
while True:
    x = input("Enter a number: ")
    
    # Check if the user wants to exit (i.e.: break the loop)
    if x == 'e':
      break
    
    x = int(x)
    n = n + 1
    
    avg =   ((avg * (n - 1) ) + x) / n
    print ("The current average is ", avg)

Keep entering numbers and I will display the average to you!
Enter a number: 5
The current average is  5.0
Enter a number: 5
The current average is  5.0
Enter a number: 7
The current average is  5.666666666666667
Enter a number: e

# 6. LIST COMPREHENSION

In [ ]:
# List comprehension is an elegant tool to transform one list into another list. 
# Instead of using loops and append, list comprehension is used to iterate over a list, condition its elements and include them in a new list.
# Let's take a look at the traditional way of taking a list and squaring its elements
input_list=[1,2,3,4]
output_list=[]

for i in input_list:
  output_list.append(i**2)
output_list

[1, 4, 9, 16]

In [ ]:
# List comprehension is a super powerful one line of code!
[i**2 for i in input_list ]

[1, 4, 9, 16]

In [ ]:
# Let's square even numbers only 
# We need to insert a condition 
input_list=[1,2,3,4,5,6,7,8,9,10]
output_list=[]

for i in input_list:
  if i%2==0:
    output_list.append(i**2)
output_list

[4, 16, 36, 64, 100]

In [ ]:
[i**2 for i in input_list if i%2==0]

[4, 16, 36, 64, 100]

**MINI CHALLENGE #8:**
- **Write a code that takes in a list of prices of a stock for the past 7 days and then normalize the prices**

In [ ]:
print('enter a list of past7 days price')

price=[2000,3000,4000,3000,6000]
norm_price=[]

for i in price:
  norm= (i-min(price))/(max(price)-min(price))
  norm_price.append(norm)
norm_price

enter a list of past7 days price

[0.0, 0.25, 0.5, 0.25, 1.0]

In [ ]:
print('masukan harga saham 7 hari')

price=[int(i) for i in input().split()]

masukan harga saham 7 hari
3000 4000 5000 3400 6000

In [ ]:
price

[3000, 4000, 5000, 3400, 6000]

In [ ]:
#normalisasi

normalize_price=[(i/price[0]) for i in price]
print('original price= {}\n normalized prices={}'.format(price,normalize_price))

original price= [3000, 4000, 5000, 3400, 6000]
 normalized prices=[1.0, 1.3333333333333333, 1.6666666666666667, 1.1333333333333333, 2.0]

# MINI CHALLENGE SOLUTION

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [ ]:
for letter in 'TSLA':
  if letter == 'T':
    print('*')
  else:
   print(letter)

**MINI CHALLENGE #2 SOLUTION:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

In [ ]:
min = int(input("Enter the price (lower bound: "))
max = int(input("Enter the price (Upper bound: "))

for i in range(min, max):
    if i%2 == 0: 
        print(i)

**MINI CHALLENGE #3 SOLUTION:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

In [ ]:
for x in range(1, 11):
    print('{} {} {}'.format(x, x*x, x*x*x))

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that displays numbers from 1 to 30 (including 30) using for and while loops**

In [ ]:
i = 1
while (i < 31):
  print (i)
  i = i+1

In [ ]:
for i in range(1, 31):
    print(i)

**MINI CHALLENGE #5 SOLUTION:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

In [ ]:
import random

keep_rolling = "y"

while keep_rolling == "y":
    print("Rolling the dices, please wait!...")
    print("Rolling results for Dice #1:", random.randint(1, 6))
    print("Rolling results for Dice #2:", random.randint(1, 6))

    keep_rolling = input("Do you want to roll again?")

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

In [ ]:
print("Keep entering numbers and I will display the average to you!")
avg = 0
n = 0
while True:
    x = input("Enter a number: ")
    
    # Check if the user wants to exit (i.e.: break the loop)
    if x == 'e':
      break
    
    x = int(x)
    n = n + 1
    
    avg =   ((avg * (n - 1) ) + x) / n
    print ("The current average is ", avg)

**MINI CHALLENGE #7 SOLUTION:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

In [ ]:
number = int(input("Enter a number between 1 and 9: "))

for x in range(1, number+1): # slow loop 
  for y in range(1, 11):   # fast loop
   print('{} x {} = {}'.format(x, y, x*y))

**MINI CHALLENGE #8 SOLUTION:**
- **Write a code that takes in a list of prices of a stock for the past 7 days and then normalize the prices**

In [ ]:
print('Enter a list of past 7-days prices separated by a space:')
prices = [int(x) for x in input().split()]

In [ ]:
normalized_prices = [ (i/prices[0]) for i in prices]
print('Orginal Prices: {}\nNormalized Prices: {}\n'.format(prices, normalized_prices))